<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <header>
         <h1>EXERCISE TRACKER REST API</h1>
      </header>
      <div class="main-content">
         <form action="/api/exercise/new-user" method="post">
            <h3>Create new user</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="Username..." required>
            <input type="submit" value="Submit">
         </form>
         <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="User ID..." required>
            <textarea id="desc" type="text" name="description" placeholder="Short description..." required></textarea>
            <input id="dur" type="text" name="duration" placeholder="Duration in minutes..." required>
            <input id="dat" type="text" name="date" placeholder="Date like YYYY-MM-DD... ">
            <input type="submit" value="Submit">
         </form>
            <h3>GET AN ARRAY OF ALL USERS:</h3>
            <p><code>GET api/exercise/users</code></p>
            <h3>GET USER'S EXERCISE LOG:</h3>
            <p><i>USER ID</i> is required, other parameters are optional. <i>FROM</i> and <i>TO</i> are dates formatted like <i>YYYY-MM-DD</i>, <i>LIMIT</i> is the maximum number of exercises.</p>
            <p><code>GET /api/exercise/log?userId=...&amp;from=...&amp;to=...&amp;limit=...</code></p>
      </div>
      <footer></footer>
   </body>

</html>
