* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    /* min 16 px and growth slowly - half of the rate of the screen growth */
    font-size: calc(0.9em + 0.4vw); 
    /* line height based on font size with viewport-relative growth */
    line-height: calc(1.2em + 0.4vw);
}

header {
    background-color: rgba(50, 205, 50, 0.7);
    width: 100%;
    padding: 5px;
}

h1 {
    margin: 0.5em auto;
    /* growth more quickly for wider variation on larger screen */
    font-size: calc(1.5rem + 0.8vw);
}

h3 {
    margin: 10px 0;
    text-transform: uppercase;
    font-style: italic;
}

p {
    margin: 0.7em auto;
    max-width: 700px;
}

code {
    font-style: normal;
    font-family: monospace;
    background-color: yellow;
    padding: 3px 10px;
}

span {
    font-size: calc(0.6em + 0.5vw);
    float: right;
}

footer {
    background-color: black;
    height: 2em;
    margin-top: 2em;
}

.main-content {
    margin: 0;
    padding: 0 15px;
}

form {
    background-color: rgba(50, 205, 50, 0.7);
    border-radius: 10px;
    max-width: 25em;
    margin: 30px auto;
    padding: 20px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 6px;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 16px;
    font-family: monospace;
}

textarea {
    resize: none;
}
  
input[type=submit] {
    background-color: gold;
    border: solid 1px lightgrey;
    border: none;
    width: 30%;
    font-family: sans-serif;
    margin: 20px auto 5px auto;
}
  
input[type=submit]:hover {
    background-color: cyan;
}

@media (min-width: 50em) {

    h1 {
        font-size: 35px;
    }

    input, textarea {
        font-size: 18px;
    }
}